<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Miembro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h2>Editar Miembro</h2>
    <div class="form-container">
        <form method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ miembro[0] }}" required><br>

            <label for="rut">RUT:</label>
            <input type="text" id="rut" name="rut" value="{{ miembro[1] }}" readonly><br>

            <label for="patente">Patente:</label>
            <input type="text" id="patente" name="patente" value="{{ miembro[3] }}" required><br>

            <label for="vehiculo">Vehículo:</label>
            <select id="vehiculo" name="vehiculo" required>
                <option value="Moto" {% if miembro[6] == "Moto" %}selected{% endif %}>Moto</option>
                <option value="Auto" {% if miembro[6] == "Auto" %}selected{% endif %}>Auto</option>
                <option value="Bicicleta" {% if miembro[6] == "Bicicleta" %}selected{% endif %}>Bicicleta</option>
            </select>

            <center><input type="submit" value="Guardar cambios"></center>
        </form>
    </div>
</body>

</html>
